/*
Project 2
MIU 1205
May 7, 2012
Matthew Richter
*/
#home .ui-grid-b div {text-align: center;}
#home .
h2	{
	margin: 0px 0px 5px 0px;
	border: 0px solid #287613;
	padding: 5px 30px 5px 30px;
	background: #146936;
	color: #ffffff;	
	box-shadow: 0px 3px 0  #8e8e8e; 
	opacity: 0.85;
	border-radius: 0px;
	font-family: Helvetica ;
	text-align: center;
}
a {
	color: #146936;		
}
a:hover {
	color:#146936; 
	opacity: 0.6;
}
div#back {
	margin: 0px 0px 2px 215px;
}
nav {
	margin: 1px 126px 1px 10px;
}
p{
	color:#848484 ;
	font-family: Verdana ;
	font-size: .8em;
	text-align: center;
}
label {
	padding: 0px 20px 0 0;
	color: #3d3d3d;
}
li {
	margin: 5px 5px 5px -25px;
	color: #3d3d3d;
}
fieldset {
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #FEFFED;
	box-shadow: 0px 1px 3px 1px #8e8e8e; 
}
footer {
	margin: 5px 5px 5px 5px;
}
form span{
	font-size: 14px;
	text-shadow: 2px 2px #ffffff;
	color: #1bb849;
	padding: 0px 0px 0px 156px;
}
ul {
	list-style-type: none;
}
form #errors li{
	font-size: 12px;
	color: red;
}