/*
Week 3
MIU 1205
May 15, 2012
Matthew Richter
*/

label.error {display: block; margin: 10px 0; color:red;}

#formerrorslink {display:none;}

div#home { 
background: -moz-linear-gradient(top, #ffffff 0%, #fff6d0 50%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fff6d0), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* W3C */
background-size: 480px 800px;
}
div#feedback { 
background: -moz-linear-gradient(top, #ffffff 0%, #fff6d0 50%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fff6d0), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* W3C */
background-size: 480px 800px;
}
div#newproject { 
background: -moz-linear-gradient(top, #ffffff 0%, #fff6d0 80%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(80%,#fff6d0), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff6d0 80%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff6d0 80%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff6d0 80%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fff6d0 80%,#ffffff 100%,#ffffff 100%); /* W3C */
background-size: 480px 800px;
}
div#jobreporting { 
background: -moz-linear-gradient(top, #ffffff 0%, #fff6d0 50%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fff6d0), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* W3C */
background-size: 480px 800px;
}
div#additions { 
background: -moz-linear-gradient(top, #ffffff 0%, #fff6d0 50%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fff6d0), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fff6d0 50%,#ffffff 100%,#ffffff 100%); /* W3C */
background-size: 480px 800px;
}